.swiper-wrapper {
  padding-top: 5px !important;
}

.shadow {
  width: 250px;
  height: 580px;
  position: absolute;

  z-index: 10;
  pointer-events: none;
}

.shadowRight {
  background: linear-gradient(
    270deg,
    rgb(16, 20, 28) 0%,
    rgba(8, 9, 14, 0) 100%
  );
}

.shadowLeft {
  background: linear-gradient(
    90deg,
    rgb(16, 20, 28) 0%,
    rgba(8, 9, 14, 0) 100%
  );
}

.btn {
  background: linear-gradient(90deg, #ff8623 0%, #ffe946 100%);
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
