.bg {
  clip-path: polygon(
    3.5px calc(100% - 7px),
    0.5px calc(100% - 7px),
    0.5px 6.5px,
    3.5px 6.5px,
    3.5px 3.5px,
    6.5px 3.5px,
    6.5px 0.5px,
    calc(100% - 6.5px) 0.5px,
    calc(100% - 6.5px) 3.5px,
    calc(100% - 3.5px) 3.5px,
    calc(100% - 3.5px) 6.5px,
    calc(100% - 0.5px) 6.5px,
    calc(100% - 0.5px) calc(100% - 7px),
    calc(100% - 3.5px) calc(100% - 7px),
    calc(100% - 3.5px) calc(100% - 4px),
    calc(100% - 6.5px) calc(100% - 4px),
    calc(100% - 6.5px) calc(100% - 0.5px),
    6.5px calc(100% - 0.5px),
    6.5px calc(100% - 4px),
    3.5px calc(100% - 4px),
    3.5px calc(100% - 7px)
  );

  background: #bebebe;
  height: 280px;
  padding: 25px;
}

.bg::before {
  content: '';
  clip-path: polygon(
    3.5px calc(100% - 7px),
    0.5px calc(100% - 7px),
    0.5px 6.5px,
    3.5px 6.5px,
    3.5px 3.5px,
    6.5px 3.5px,
    6.5px 0.5px,
    calc(100% - 6.5px) 0.5px,
    calc(100% - 6.5px) 3.5px,
    calc(100% - 3.5px) 3.5px,
    calc(100% - 3.5px) 6.5px,
    calc(100% - 0.5px) 6.5px,
    calc(100% - 0.5px) calc(100% - 7px),
    calc(100% - 3.5px) calc(100% - 7px),
    calc(100% - 3.5px) calc(100% - 4px),
    calc(100% - 6.5px) calc(100% - 4px),
    calc(100% - 6.5px) calc(100% - 0.5px),
    6.5px calc(100% - 0.5px),
    6.5px calc(100% - 4px),
    3.5px calc(100% - 4px),
    3.5px calc(100% - 7px)
  );

  position: absolute;
  inset: 2px;
  background: #00956d;
  height: 276px;
}
@media screen and (max-width: 560px) {
  .bg {
    height: 310px;
  }
  .bg::before {
    height: 306px;
  }
}
